.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkWrapper {
  margin: auto;
}

.socialNetworksContainer {
  justify-content: center;
}

.socialNetworkImage--facebook, .socialNetworkImage--instagram,
.socialNetworkImage--twitter {
  visibility: hidden;
}

.socialNetworkLink--facebook {
  position: relative;
}

.socialNetworkLink--facebook::after {
  content: url(https://aldocontijr.myvtex.com/arquivos/fb-logo_mini.png);
  position: absolute;
  left: 35%;
}

.socialNetworkLink--instagram::after {
  content: url(https://aldocontijr.myvtex.com/arquivos/insta-logo_mini.png);
  position: absolute;
}

.socialNetworkLink--twitter::after {
  content: url(https://aldocontijr.myvtex.com/arquivos/tw-logo_mini.png);
  position: absolute;
}

@media screen and (max-width: 768px) {
  .socialNetworksContainer {
    padding-top: 10px;
  }

  .socialNetworkLink--facebook, .socialNetworkLink--instagram,
  .socialNetworkLink--twitter {
    margin: 0 5px;
  }
}