.openIconContainer :global(.vtex-button):hover {
    background: #A3DDCB;
}

.openIconContainer :global(.vtex-button):focus {
    background: #A3DDCB;
}

.openIconContainer :global(.vtex-button):active {
    background: #A3DDCB;
}

.minicartIconContainer::after {
    content: url('https://aldocontijr.myvtex.com/arquivos/io-bag-icon_35.png');
    visibility: visible;
    position: absolute;
    top: -11px;
}

.cartIcon {
    visibility: hidden;
}

.minicartQuantityBadgeDefault {
    top: -0.7rem;
    right: -40px;
    z-index: 9;
}

.minicartCheckoutButton :global(.vtex-button) {
    background: #e5707e;
    border: #e5707e;
}

@media screen and (max-width:768px) {

    .minicartQuantityBadgeDefault {
        top: -0.7rem;
        right: -25px;
        z-index: 9;
    }

    .minicartIconContainer::after {
        content: url('https://aldocontijr.myvtex.com/arquivos/io-bag-icon_35.png');
        visibility: visible;
        position: absolute;
        top: -10px;
        right: -18px;
    }
}