.link, .term {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}

.link:hover {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.caretIcon {
    color: #000;
}

.caretIcon:hover {
    color: #000;
}

.homeIcon {
    width: 18px;
    height: auto;
    vertical-align: top;
}