.label {
    visibility: hidden;
}

.label::after {
    content: url('https://aldocontijr.myvtex.com/arquivos/io-user-icon_35x.png');
    visibility: visible;
}

.container :global(.vtex-button):hover {
    background: #A3DDCB;
}

.container :global(.vtex-button):focus {
    background: #A3DDCB;
}

.container :global(.vtex-button):active {
    background: #A3DDCB;
}
