.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: none;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.sliderLayoutContainer--slider-categories {
  padding-top: 40px;
}

.paginationDot--shelf-recomendados {
  height: 3px !important;
  width: 40px !important;
  border-radius: 0px;
}

@media screen and (max-width:768px) {
  .sliderLayoutContainer--slider-categories {
    padding: 40px 10px 0 10px;
  }
  
  .sliderLayoutContainer--shelf-recomendados {
    padding: 0 10px !important;
  }

  .sliderLeftArrow--shelf-recomendados {
    left: -10px;
  }

  .sliderRightArrow--shelf-recomendados {
    right: -10px;
  }
}