.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.wrapper--text-terms {
  max-width: 50%;
}

.container--toleftthis {
  justify-content: end;
}

.headingLevel4--text-terms {
  margin-bottom: 0;
  color: #000;
  font-weight: 600;
}

.paragraph--text-terms {
  color: #000;
  font-size: 14px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}


/* Inicia bloque de search */

.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

/* Finaliza bloque de search */

.container--home-category-title {
  width: auto !important;
}

.paragraph--home-category-title {
  width: 100%;
  text-align: center;
}

.link--home-category-title {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.wrapper--shelfTitle-recomendados {
  width: 100%;
  padding-top: 25px;
}

.container--shelfTitle-recomendados {
  text-align: center;
  color: #000;
}

.headingLevel3--shelfTitle-recomendados {
  margin-bottom: 0;
}

.wrapper--ropa-title-mobile,
.wrapper--accesorios-title-mobile {
  font-size: 17px;
  color: #000;
  margin-left: 5px;
}

.paragraph--title-footer {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.wrapper--title-footer-media {
  margin: 0 auto;
}

.paragraph--title-footer-media {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-align: center;
}

.wrapper--rights-reserved {
  width: 100%;
}

.paragraph--rights-reserved {
  text-align: center;
  font-size: 13px;
  color: #000;
}

.wrapper--text-newsletter {
  width: 100%;
}

.paragraph--text-newsletter {
  text-align: center;
  margin: 0;
  color: #000;
  font-size: 13px;
}

.headingLevel4--text-newsletter {
  text-align: center;
  color: #000;
  margin: 0;
  font-weight: 600;
}

.paragraph--footer {
  text-align: center;
  color: #000;
}

.wrapper--faqs-titulo {
  width: 100%;
}

.heading--faqs-titulo {
  text-align: center;
  color: #000;
  font-weight: bold;
}

.heading--faqs-askme {
  color: #000;
}

.paragraph--faqs-askme,
.listItem--faqs-askme {
  color: #000;
  font-size: 15px;
}

.wrapper--faqs-subtitle {
  width: 100%;
}

.heading--faqs-subtitle {
  color: #000;
  background: #E8E9A1;
  padding: 10px;
}

.paragraph--justify-askme {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .wrapper--text-terms {
    width: 100%;
    max-width: 100%;
  }

  .paragraph--text-terms {
    color: #000;
    font-size: 15px;
  }

  .headingLevel4--text-terms {
    text-align: center;
  }

  .list--faqs-askme {
    padding-left: 20px;
  }

  .paragraph--ropa-title-mobile,
  .paragraph--accesorios-title-mobile {
    font-weight: 600;
  }
}