.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #E8E9A1;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #A3DDCB !important;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #A3DDCB !important;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

@media screen and (max-width:768px) {
  .flexRow--main-header-mobile :global(.vtex-login-2-x-buttonLink) :global(.vtex-button)::after {
    content: url('https://aldocontijr.myvtex.com/arquivos/io-user-icon_35x.png');
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Inicia contacto */

.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

/* finaliza contacto*/

/* Inicia FAQ */

.flexRowContent--faq {
  max-width: 700px;
  margin: auto;
}

/* FInaliza faq */

/* Inicia product specification table */

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

.flexCol--productSpecificationName {
  padding: 1rem;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

/* Finaliza product specification table */

/* Inicia search */

.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
}

.flexCol--productRating {
  margin-bottom: 3rem;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}

/* Finaliza search */

.flexColChild--banners-menu-desk {
  padding: 5px 0;
}

.flexRow--banners-principales {
  padding: 5px;
}

.flexCol--slider-home {
  padding-right: 6%;
}

.flexRowContent--block-prices {
  justify-content: center;
}

.flexRow--banner-middle {
  padding-top: 25px;
}

.flexRow--couple-banners {
  padding-top: 35px;
}

.flexColChild--couple-banners-left {
  padding-right: 5px;
}

.flexColChild--couple-banners-right {
  padding-left: 5px;
}

.flexRow--banner-last {
  padding-top: 15px;
  padding-bottom: 25px;
}

.flexRow--logo-footer {
  margin: auto;
}

.flexRow--menu-row, .flexRow--payment-methods-acjr {
  background: #e8e9a1;
  padding: 10px 0;
}

.flexRow--credits, .flexRow--footer-mobile {
  background: #e8e9a1;
}

.flexColChild--payments-block {
  margin: 0 auto;
}

.flexRowContent--payment-methods-acjr {
  max-width: 1200px;
  margin: 0 auto;
}

.flexRowContent--payment-methods-acjr .stretchChildrenWidth {
  margin: 0 auto;
}

.flexRow--newsletter {
  background: #E6B566;
}

.flexRowContent--newsletter {
  max-width: 800px;
  margin: 0 auto;
}

.flexRowContent--mobile-search :global(.vtex-store-components-3-x-searchBarContainer) {
  background: #fff;
}

.flexRowContent--mobile-search :global(.vtex-store-components-3-x-searchBarInnerContainer) {
  border: 2px solid #000;
  border-radius: 10px
}

.flexRowContent--mobile-search :global(.vtex-input-prefix__group) {
  border: 10px;
  border-radius: 10px;
}

.flexRow--mobile-search {
  box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
}

.flexRow--mobile-search :global(.vtex-store-components-3-x-container) {
  background: #fff;
}

.flexRowContent--breadcrumb-pdp {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 15px;
}

.flexRow--body-pdp {
  max-width: 1100px;
  margin: 0 auto;
}

.flexCol--prices-on {
  border-right: 2px solid #ccc;
}

.flexColChild--prices-on {
 margin-right: 5px;
}

.flexRowContent--cta-pdp :global(.vtex-button) {
  background: #E5707E;
  border: #E5707E;
}

.flexRowContent--body-pdp {
  margin-bottom: 0;
  padding-bottom: 0;
}

.flexColChild--left-image {
  text-align: end;
}

.flexRowContent--faqs-body {
  max-width: 1100px;
  margin: 0 auto;
}

.flexCol--whoweare-texts {
  margin: 0 10px;
  justify-content: space-around;
}

.flexColChild--whoweare-texts {
  height: auto !important;
}

.flexColChild--quien-somos-img {
  text-align: right;
}

.flexColChild--marcas-imgs {
  text-align: center;
}

.flexCol--sucursales-separator {
  margin: 0 10px;
} 

@media screen and (max-width:768px) {
  .flexCol--slider-home {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .flexColChild--promotional-banners {
    padding-bottom: 10px;
  }

  .flexColChild--couple-banners-left {
    padding-right: 0;
    padding-bottom: 5px;
  }

  .flexColChild--couple-banners-right {
    padding-left: 0;
    padding-top: 5px;
  }

  .flexRow--banner-last {
    padding-top: 10px;
  }

  .flexRowContent--prices-on {
    justify-content: center;
  }

  .flexColChild--left-image,
  .flexColChild--right-image {
    text-align: center;
  }

  .flexRowContent--faqs-payment-methods .stretchChildrenWidth {
    width: 25% !important;
    display: inline-flex;
    margin-bottom: 10px;
  }

  .flexColChild--quien-somos-img {
    text-align: center;
  }

  .flexRowContent--marcas-imgs .stretchChildrenWidth {
    width: 50% !important;
    display: inline-block;
  }
}